{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Link Anomaly</h1>
    </div>

    <div class="d-sm-flex align-items-center justify-content-start mb-4">
        <input type="number" id="sequenceInput" placeholder="Jumlah Sequence (default: 2)" class="form-control mr-3"
            style="max-width: 300px;">
        <button id="startButton" class="btn btn-primary">Mulai</button>
    </div>

    <div class="card shadow mb-4" id="hasilCard" style="display: none;">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Hasil</h6>
        </div>
        <div class="card-body">
            <div id="sequenceDetails" style="display: none; color: black;" class="mb-4">
                <h4>Sequence yang terpilih (sequence ke-<span id="sequenceNumber"></span>)</h4>
                <h4>Pada waktu <span id="sequenceTime"></h4>
                <h4>Nilai bobot sequence adalah <span id="sequenceValue"></span></h4>
            </div>
            <div style="overflow-y: auto; max-height: 400px;">
                <table id="textsTable" class="table" style="color: black;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Text</th>
                        </tr>
                    </thead>
                    <tbody style="max-height: 400px">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="accordion" id="detailsAccordion" style="display: none;">
        <div class="accordion-item w-100">
            <h2 class="accordion-header mx-auto mb-4" id="headingDetails" style="width: fit-content;">
                <button class="accordion-button btn btn-secondary collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseDetails" aria-expanded="false" aria-controls="collapseDetails">
                    Lihat Hasil Detail <span class="ms-2">&#x25BC;</span> <!-- Down arrow icon -->
                </button>
            </h2>
            <div id="collapseDetails" class="accordion-collapse collapse" aria-labelledby="headingDetails"
                data-bs-parent="#detailsAccordion">
                <div class="accordion-body">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Perhitungan Link Anomaly</h1>
                    </div>
                    <div class="card shadow mb-4">
                        <div class=" card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tahap 1</h6>
                            <h6 class="m-0 font-weight-bold text-primary">Menghitung Probabilitas Sejumlah Mention</h6>
                        </div>
                        <div class="card-body">
                            <h4>Rumus</h4>
                            <div class="w-100 mb-4">
                                <img class="m-auto" src="img/rumus_menghitung_probabilitas_mention.png" alt="">
                            </div>
                            <select id="sequenceSelector" class="form-control mb-3 w-auto">
                                <option selected>Select a Sequence</option>
                                <!-- Options will be populated dynamically by JavaScript -->
                            </select>
                            <div style="max-height: 400px; overflow-y: auto;">
                                <table class="table" style="color: black;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Username</th>
                                            <th>Text</th>
                                            <th>Probability</th>
                                        </tr>
                                    </thead>
                                    <tbody id="probabilityTable">
                                        <!-- Content filled by JavaScript -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-4">
                        <div class=" card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tahap 2</h6>
                            <h6 class="m-0 font-weight-bold text-primary">Menghitung Probabilitas User</h6>
                        </div>
                        <div class="card-body">
                            <h4>Rumus</h4>
                            <img src="img/rumus_menghitung_probabilitas_user.png" alt="">
                            <select id="userSequenceSelector" class="form-control mb-3 w-auto">
                                <option selected>Pilih Sequence</option>
                                <!-- Options will be populated dynamically by JavaScript -->
                            </select>
                            <div style="max-height: 400px; overflow-y: auto;">
                                <table class="table" style="table-layout: fixed; color: black;">
                                    <thead>
                                        <tr>
                                            <th style="width: 5%;">#</th>
                                            <th>Text</th>
                                            <th>Mentions</th>
                                            <th style="width: 20%;">Probability</th>
                                        </tr>
                                    </thead>
                                    <tbody id="userProbabilityTable">
                                        <!-- Content filled by JavaScript -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-4">
                        <div class=" card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tahap 3</h6>
                            <h6 class="m-0 font-weight-bold text-primary">Menghitung Skor Link Anomaly</h6>
                        </div>
                        <div class="card-body">
                            <h4>Rumus</h4>
                            <img src="img/rumus_menghitung_skor_link_anomaly.png" class="mb-4" alt="">
                            <select id="skorLinkAnomalySequenceSelector" class="form-control mb-3 w-auto">
                                <option selected>Pilih Sequence</option>
                                <!-- Options will be populated dynamically by JavaScript -->
                            </select>
                            <div style="max-height: 400px; overflow-y: auto;">
                                <table class="table" style="color: black;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Text</th>
                                            <th>Skor</th>
                                        </tr>
                                    </thead>
                                    <tbody id="skorLinkAnomalyTable">
                                        <!-- Content filled by JavaScript -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-4">
                        <div class=" card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tahap 4</h6>
                            <h6 class="m-0 font-weight-bold text-primary">Menghitung Agregasi Skor Link Anomaly</h6>
                        </div>
                        <div class="card-body">
                            <h4>Rumus</h4>
                            <img src="img/rumus_menghitung_agregasi_skor_link_anomaly.png" class="mb-4" alt="">
                            <select id="agregasiSkorLinkAnomalySequenceSelector" class="form-control mb-3 w-auto">
                                <option selected>Pilih Sequence</option>
                                <!-- Options will be populated dynamically by JavaScript -->
                            </select>
                            <div style="max-height: 400px; overflow-y: auto;">
                                <table class="table" style="table-layout: fixed; color: black;">
                                    <thead>
                                        <tr>
                                            <th style="width: 15%;">diskrit time ke-n</th>
                                            <th>Skor</th>
                                        </tr>
                                    </thead>
                                    <tbody id="agregasiSkorLinkAnomalyTable">
                                        <!-- Content filled by JavaScript -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-4">
                        <div class=" card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tahap 5</h6>
                            <h6 class="m-0 font-weight-bold text-primary">Menyeleksi Agregasi Skor Link Anomaly</h6>
                        </div>
                        <div class="card-body">
                            <p>Hanya diskrit dengan nilai agregasi skor link di atas threshold burst yang akan menjadi
                                titik/state pada proses deteksi trending topik</p>
                            <h4>threshold burst=0,9995</h4>
                            <select id="seleksiAgregasiSkorLinkAnomalySequenceSelector"
                                class="form-control mb-3 w-auto">
                                <option selected>Pilih Sequence</option>
                                <!-- Options will be populated dynamically by JavaScript -->
                            </select>
                            <div style="max-height: 400px; overflow-y: auto;">
                                <table class="table" style="table-layout: fixed; color: black;">
                                    <thead>
                                        <tr>
                                            <th style="width: 15%;">diskrit time ke-n</th>
                                            <th>Skor</th>
                                        </tr>
                                    </thead>
                                    <tbody id="seleksiAgregasiSkorLinkAnomalyTable">
                                        <!-- Content filled by JavaScript -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-4">
                        <div class=" card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tahap 6</h6>
                            <h6 class="m-0 font-weight-bold text-primary">Menghitung Cost Function</h6>
                        </div>
                        <div class="card-body">
                            <h4>Rumus</h4>
                            <img src="img/rumus_menghitung_cost_function.png" alt="">
                            <div style="max-height: 400px; overflow-y: auto;">
                                <table class="table" id="costFunctionTable" style="color: black;">
                                    <thead>
                                        <tr>
                                            <th style="width: 15%;">Sequence</th>
                                            <th>Cost</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Content filled by JavaScript -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-4">
                        <div class=" card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Hasil Akhir</h6>
                        </div>
                        <div class="card-body" style="color: black;">
                            <p>Sequence yang memiliki nilai minimum terindikasi berisi trending topic</p>
                            <h4>Sequence yang terpilih (sequence ke-<span id="sequenceNumberHasilAkhir"></span>)</h4>
                            <h4>Pada waktu <span id="sequenceTimeHasilAkhir"></h4>
                            <h4>Nilai bobot sequence adalah <span id="sequenceValueHasilAkhir"></span></h4>
                            <div style="max-height: 400px; overflow-y: auto;">
                                <table class="table" id="hasilAkhirTable" style="color: black;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Text</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Content filled by JavaScript -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}

{% block javascript %}


<!-- Include Bootstrap Bundle with Popper (includes Bootstrap JS) -->
<script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js">
</script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/10.2.1/decimal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.min.js"
    integrity="sha384-tyF19AUUsmK/e8HhLOObI0ye3stj6i18V+R0GIiXpLVxwBs/mKqqyg8H8obIMCRG"
    crossorigin="anonymous"></script>

<script>
</script>

{% endblock %}