{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Link Anomaly</h1>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Link Anomaly Detection</h6>
        </div>
        <div class="card-body">
            <button class="btn btn-primary mb-3" id="startProcess">Mulai Proses</button>
            <div id="loading" style="display: none;">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <p class="text-center mt-2">Sedang memuat data...</p>
            </div>

            <!-- Probabilitas Mention Table -->
            <div class="card">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Probabilitas Mention</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <img src="../../static/img/rumus_menghitung_probabilitas_mention.png" alt="">
                        <table class="table table-bordered" id="mentionTable" width="100%">
                            <thead>
                                <tr>
                                    <th style="width: 10%;">No</th>
                                    <th>Probabilitas Mention</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <div>
                            <span>Show</span>
                            <select id="mentionEntriesPerPage"
                                class="custom-select custom-select-sm form-control form-control-sm mx-2">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <span>entries</span>
                        </div>
                        <div id="mentionPagination" class="d-flex align-items-center">
                            <button id="mentionPrevPage" class="btn btn-sm btn-secondary mx-1">Previous</button>
                            <span id="mentionPageInfo" class="mx-2">Page 1 of 1</span>
                            <button id="mentionNextPage" class="btn btn-sm btn-secondary mx-1">Next</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Probabilitas User Table -->
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Probabilitas User</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <img src="../../static/img/rumus_menghitung_probabilitas_user.png" alt="">
                        <table class="table table-bordered" id="userTable" width="100%">
                            <thead>
                                <tr>
                                    <th style="width: 10%;">No</th>
                                    <th>Probabilitas User</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <div>
                            <span>Show</span>
                            <select id="userEntriesPerPage"
                                class="custom-select custom-select-sm form-control form-control-sm mx-2">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <span>entries</span>
                        </div>
                        <div id="userPagination" class="d-flex align-items-center">
                            <button id="userPrevPage" class="btn btn-sm btn-secondary mx-1">Previous</button>
                            <span id="userPageInfo" class="mx-2">Page 1 of 1</span>
                            <button id="userNextPage" class="btn btn-sm btn-secondary mx-1">Next</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Probabilitas User Table -->
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Skor Anomaly</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <img src="../../static/img/rumus_menghitung_agregasi_skor_link_anomaly.png" alt="">
                        <table class="table table-bordered" id="skorAnomalyTable" width="100%">
                            <thead>
                                <tr>
                                    <th style="width: 10%;">No</th>
                                    <th>Skor Anomaly</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <div>
                            <span>Show</span>
                            <select id="skorAnomalyEntriesPerPage"
                                class="custom-select custom-select-sm form-control form-control-sm mx-2">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <span>entries</span>
                        </div>
                        <div id="skorAnomalyPagination" class="d-flex align-items-center">
                            <button id="skorAnomalyPrevPage" class="btn btn-sm btn-secondary mx-1">Previous</button>
                            <span id="skorAnomalyPageInfo" class="mx-2">Page 1 of 1</span>
                            <button id="skorAnomalyNextPage" class="btn btn-sm btn-secondary mx-1">Next</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tabel Hasil Agregasi -->
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Hasil Agregasi</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <img src="../../static/img/rumus_menghitung_agregasi_skor_link_anomaly.png" alt="">
                        <table class="table table-bordered" id="hasilAgregasiTable" width="100%">
                            <thead>
                                <tr>
                                    <th>Diskrit</th>
                                    <th>Jumlah Mention Agregasi</th>
                                    <th>Nilai Agregasi</th>
                                    <th>Waktu Awal</th>
                                    <th>Waktu Akhir</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <div>
                            <span>Show</span>
                            <select id="hasilAgregasiEntriesPerPage"
                                class="custom-select custom-select-sm form-control form-control-sm mx-2">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <span>entries</span>
                        </div>
                        <div id="hasilAgregasiPagination" class="d-flex align-items-center">
                            <button id="hasilAgregasiPrevPage" class="btn btn-sm btn-secondary mx-1">Previous</button>
                            <span id="hasilAgregasiPageInfo" class="mx-2">Page 1 of 1</span>
                            <button id="hasilAgregasiNextPage" class="btn btn-sm btn-secondary mx-1">Next</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tabel Hasil first stage -->
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Hasil First Stage Learning</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <img src="../../static/img/rumus_sdnml4.png" alt="">
                        <img src="../../static/img/keterangan_sdnml4.png" alt="">
                        <table class="table table-bordered" id="firstLearnTable" width="100%">
                            <thead>
                                <tr>
                                    <th>Diskrit</th>
                                    <th>Nilai First Stage Learning</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <div>
                            <span>Show</span>
                            <select id="firstLearnEntriesPerPage"
                                class="custom-select custom-select-sm form-control form-control-sm mx-2">
                                <option value="10">10</option>
                                <option value="25">25</option>
                            </select>
                            <span>entries</span>
                        </div>
                        <div id="firstLearnPagination" class="d-flex align-items-center">
                            <button id="firstLearnPrevPage" class="btn btn-sm btn-secondary mx-1">Previous</button>
                            <span id="firstLearnPageInfo" class="mx-2">Page 1 of 1</span>
                            <button id="firstLearnNextPage" class="btn btn-sm btn-secondary mx-1">Next</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tabel Hasil first stage Scoring -->
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Hasil First Stage Scoring</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <img src="../../static/img/rumus_first_scoring.png" alt="">
                        <table class="table table-bordered" id="firstScoringTable" width="100%">
                            <thead>
                                <tr>
                                    <th>Diskrit</th>
                                    <th>Nilai First Stage Learning</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <div>
                            <span>Show</span>
                            <select id="firstScoringEntriesPerPage"
                                class="custom-select custom-select-sm form-control form-control-sm mx-2">
                                <option value="10">10</option>
                                <option value="25">25</option>
                            </select>
                            <span>entries</span>
                        </div>
                        <div id="firstScoringPagination" class="d-flex align-items-center">
                            <button id="firstScoringPrevPage" class="btn btn-sm btn-secondary mx-1">Previous</button>
                            <span id="firstScoringPageInfo" class="mx-2">Page 1 of 1</span>
                            <button id="firstScoringNextPage" class="btn btn-sm btn-secondary mx-1">Next</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tabel Hasil Smoothing -->
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Hasil Smoothing First Stage</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <img src="../../static/img/rumus_smoothing.png" alt="">
                        <table class="table table-bordered" id="firstSmoothingTable" width="100%">
                            <thead>
                                <tr>
                                    <th>Diskrit</th>
                                    <th>Nilai Smoothing First Stage</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <div>
                            <span>Show</span>
                            <select id="firstSmoothingEntriesPerPage"
                                class="custom-select custom-select-sm form-control form-control-sm mx-2">
                                <option value="10">10</option>
                                <option value="25">25</option>
                            </select>
                            <span>entries</span>
                        </div>
                        <div id="firstSmoothingPagination" class="d-flex align-items-center">
                            <button id="firstSmoothingPrevPage" class="btn btn-sm btn-secondary mx-1">Previous</button>
                            <span id="firstSmoothingPageInfo" class="mx-2">Page 1 of 1</span>
                            <button id="firstSmoothingNextPage" class="btn btn-sm btn-secondary mx-1">Next</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tabel Hasil Second Stage Learning -->
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Hasil Second Stage Learning</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <img src="../../static/img/rumus_sdnml4.png" alt="">
                        <img src="../../static/img/keterangan_sdnml4.png" alt="">
                        <table class="table table-bordered" id="secondLearnTable" width="100%">
                            <thead>
                                <tr>
                                    <th>Diskrit</th>
                                    <th>Nilai Second Stage Learning</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <div>
                            <span>Show</span>
                            <select id="secondLearnEntriesPerPage"
                                class="custom-select custom-select-sm form-control form-control-sm mx-2">
                                <option value="10">10</option>
                                <option value="25">25</option>
                            </select>
                            <span>entries</span>
                        </div>
                        <div id="secondLearnPagination" class="d-flex align-items-center">
                            <button id="secondLearnPrevPage" class="btn btn-sm btn-secondary mx-1">Previous</button>
                            <span id="secondLearnPageInfo" class="mx-2">Page 1 of 1</span>
                            <button id="secondLearnNextPage" class="btn btn-sm btn-secondary mx-1">Next</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tabel Hasil Second Stage Scoring -->
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Hasil Second Stage Scoring</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <img src="../../static/img/rumus_second_smoothing.png" alt="">
                        <table class="table table-bordered" id="secondScoringTable" width="100%">
                            <thead>
                                <tr>
                                    <th>Diskrit</th>
                                    <th>Nilai Second Stage Scoring</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <div>
                            <span>Show</span>
                            <select id="secondScoringEntriesPerPage"
                                class="custom-select custom-select-sm form-control form-control-sm mx-2">
                                <option value="10">10</option>
                                <option value="25">25</option>
                            </select>
                            <span>entries</span>
                        </div>
                        <div id="secondScoringPagination" class="d-flex align-items-center">
                            <button id="secondScoringPrevPage" class="btn btn-sm btn-secondary mx-1">Previous</button>
                            <span id="secondScoringPageInfo" class="mx-2">Page 1 of 1</span>
                            <button id="secondScoringNextPage" class="btn btn-sm btn-secondary mx-1">Next</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tabel Hasil Second Stage Smoothing -->
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Hasil Second Stage Smoothing</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <img src="../../static/img/rumus_second_smoothing.png" alt="">
                        <table class="table table-bordered" id="secondSmoothingTable" width="100%">
                            <thead>
                                <tr>
                                    <th>Diskrit</th>
                                    <th>Nilai Second Stage Smoothing</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <div>
                            <span>Show</span>
                            <select id="secondSmoothingEntriesPerPage"
                                class="custom-select custom-select-sm form-control form-control-sm mx-2">
                                <option value="10">10</option>
                                <option value="25">25</option>
                            </select>
                            <span>entries</span>
                        </div>
                        <div id="secondSmoothingPagination" class="d-flex align-items-center">
                            <button id="secondSmoothingPrevPage" class="btn btn-sm btn-secondary mx-1">Previous</button>
                            <span id="secondSmoothingPageInfo" class="mx-2">Page 1 of 1</span>
                            <button id="secondSmoothingNextPage" class="btn btn-sm btn-secondary mx-1">Next</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="detectionResult" class="card mb-4" style="display: none;">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Hasil Deteksi Anomali</h6>
                </div>
                <div class="card-body">
                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading mb-3">Status: <span id="anomalyStatus"></span></h4>
                        <p id="anomalyInfo"></p>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="mb-1"><strong>Score:</strong> <span id="anomalyScore"></span></p>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-1"><strong>Threshold:</strong> <span id="anomalyThreshold"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    let isProcessing = false;
    // Data untuk probabilitas user
    let userCurrentData = [];
    let userCurrentPage = 1;
    let userEntriesPerPage = 10;
    // Data untuk probabilitas mention
    let mentionCurrentData = [];
    let mentionCurrentPage = 1;
    let mentionEntriesPerPage = 10;
    // Data skor anomaly
    let skorAnomalyCurrentData = [];
    let skorAnomalyCurrentPage = 1;
    let skorAnomalyEntriesPerPage = 10;

    let hasilAgregasiCurrentPage = 1;
    let hasilAgregasiEntriesPerPage = 10;
    let hasilAgregasiCurrentData = [];

    let firstLearnCurrentData = [];
    let firstLearnCurrentPage = 1;
    let firstLearnEntriesPerPage = 10;

    let firstScoringCurrentData = [];
    let firstScoringCurrentPage = 1;
    let firstScoringEntriesPerPage = 10;

    let firstSmoothingCurrentData = [];
    let firstSmoothingCurrentPage = 1;
    let firstSmoothingEntriesPerPage = 10;

    let secondLearnCurrentData = [];
    let secondLearnCurrentPage = 1;
    let secondLearnEntriesPerPage = 10;

    let secondScoringCurrentData = [];
    let secondScoringCurrentPage = 1;
    let secondScoringEntriesPerPage = 10;

    let secondSmoothingCurrentData = [];
    let secondSmoothingCurrentPage = 1;
    let secondSmoothingEntriesPerPage = 10;

    document.getElementById("userEntriesPerPage").addEventListener("change", (e) => {
        userEntriesPerPage = parseInt(e.target.value);
        renderUserTable();
    });

    document.getElementById("userPrevPage").addEventListener("click", () => {
        if (userCurrentPage > 1) {
            userCurrentPage--;
            renderUserTable();
        }
    });

    document.getElementById("userNextPage").addEventListener("click", () => {
        if (userCurrentPage < Math.ceil(userCurrentData.length / userEntriesPerPage)) {
            userCurrentPage++;
            renderUserTable();
        }
    });

    // Event Listeners untuk Probabilitas Mention
    document.getElementById("mentionEntriesPerPage").addEventListener("change", (e) => {
        mentionEntriesPerPage = parseInt(e.target.value);
        renderMentionTable();
    });

    document.getElementById("mentionPrevPage").addEventListener("click", () => {
        if (mentionCurrentPage > 1) {
            mentionCurrentPage--;
            renderMentionTable();
        }
    });

    document.getElementById("mentionNextPage").addEventListener("click", () => {
        if (mentionCurrentPage < Math.ceil(mentionCurrentData.length / mentionEntriesPerPage)) {
            mentionCurrentPage++;
            renderMentionTable();
        }
    });
    // Event Listeners untuk Skor Anomaly
    document.getElementById("skorAnomalyEntriesPerPage").addEventListener("change", (e) => {
        skorAnomalyEntriesPerPage = parseInt(e.target.value);
        renderSkorAnomalyTable();
    });

    document.getElementById("skorAnomalyPrevPage").addEventListener("click", () => {
        if (skorAnomalyCurrentPage > 1) {
            skorAnomalyCurrentPage--;
            renderSkorAnomalyTable();
        }
    });

    document.getElementById("skorAnomalyNextPage").addEventListener("click", () => {
        if (skorAnomalyCurrentPage < Math.ceil(skorAnomalyCurrentData.length / skorAnomalyEntriesPerPage)) {
            skorAnomalyCurrentPage++;
            renderSkorAnomalyTable();
        }
    });

    // Event Listeners untuk Hasil Agregasi
    document.getElementById("hasilAgregasiEntriesPerPage").addEventListener("change", (e) => {
        hasilAgregasiEntriesPerPage = parseInt(e.target.value);
        renderHasilAgregasiTable();
    });

    document.getElementById("hasilAgregasiPrevPage").addEventListener("click", () => {
        if (hasilAgregasiCurrentPage > 1) {
            hasilAgregasiCurrentPage--;
            renderHasilAgregasiTable();
        }
    });

    document.getElementById("hasilAgregasiNextPage").addEventListener("click", () => {
        if (hasilAgregasiCurrentPage < Math.ceil(hasilAgregasiCurrentData.length / hasilAgregasiEntriesPerPage)) {
            hasilAgregasiCurrentPage++;
            renderHasilAgregasiTable();
        }
    });

    // Event Listeners untuk First Learn
    document.getElementById("firstLearnEntriesPerPage").addEventListener("change", (e) => {
        firstLearnEntriesPerPage = parseInt(e.target.value);
        firstLearnCurrentPage = 1; // Reset ke halaman pertama saat mengubah entries per page
        renderFirstLearn();
    });

    document.getElementById("firstLearnNextPage").addEventListener("click", () => {
        const totalPages = Math.ceil(firstLearnCurrentData[0].length / firstLearnEntriesPerPage);
        if (firstLearnCurrentPage < totalPages) {
            firstLearnCurrentPage++;
            renderFirstLearn();
        }
    });

    document.getElementById("firstLearnPrevPage").addEventListener("click", () => {
        if (firstLearnCurrentPage > 1) {
            firstLearnCurrentPage--;
            renderFirstLearn();
        }
    });

    // Event Listeners untuk First Scoring
    document.getElementById("firstScoringEntriesPerPage").addEventListener("change", (e) => {
        firstScoringEntriesPerPage = parseInt(e.target.value);
        firstScoringCurrentPage = 1;
        renderfirstScoring();
    });

    document.getElementById("firstScoringNextPage").addEventListener("click", () => {
        const totalPages = Math.ceil(firstScoringCurrentData[0].length / firstScoringEntriesPerPage);
        if (firstScoringCurrentPage < totalPages) {
            firstScoringCurrentPage++;
            renderfirstScoring();
        }
    });

    document.getElementById("firstScoringPrevPage").addEventListener("click", () => {
        if (firstScoringCurrentPage > 1) {
            firstScoringCurrentPage--;
            renderfirstScoring();
        }
    });


    // Event Listeners untuk First Smoothing
    document.getElementById("firstSmoothingEntriesPerPage").addEventListener("change", (e) => {
        firstSmoothingEntriesPerPage = parseInt(e.target.value);
        firstSmoothingCurrentPage = 1;
        renderFirstSmoothing();
    });

    document.getElementById("firstSmoothingNextPage").addEventListener("click", () => {
        const totalPages = Math.ceil(firstSmoothingCurrentData.length / firstSmoothingEntriesPerPage);
        if (firstSmoothingCurrentPage < totalPages) {
            firstSmoothingCurrentPage++;
            renderFirstSmoothing();
        }
    });

    document.getElementById("firstSmoothingPrevPage").addEventListener("click", () => {
        if (firstSmoothingCurrentPage > 1) {
            firstSmoothingCurrentPage--;
            renderFirstSmoothing();
        }
    });

    // Event Listeners untuk Second Learn
    document.getElementById("secondLearnEntriesPerPage").addEventListener("change", (e) => {
        secondLearnEntriesPerPage = parseInt(e.target.value);
        secondLearnCurrentPage = 1;
        rendersecondLearn();
    });

    document.getElementById("secondLearnNextPage").addEventListener("click", () => {
        const totalPages = Math.ceil(secondLearnCurrentData[0].length / secondLearnEntriesPerPage);
        if (secondLearnCurrentPage < totalPages) {
            secondLearnCurrentPage++;
            rendersecondLearn();
        }
    });

    document.getElementById("secondLearnPrevPage").addEventListener("click", () => {
        if (secondLearnCurrentPage > 1) {
            secondLearnCurrentPage--;
            rendersecondLearn();
        }
    });

    // Event Listeners untuk Second Scoring
    document.getElementById("secondScoringEntriesPerPage").addEventListener("change", (e) => {
        secondScoringEntriesPerPage = parseInt(e.target.value);
        secondScoringCurrentPage = 1;
        rendersecondScoring();
    });

    document.getElementById("secondScoringNextPage").addEventListener("click", () => {
        const totalPages = Math.ceil(secondScoringCurrentData[0].length / secondScoringEntriesPerPage);
        if (secondScoringCurrentPage < totalPages) {
            secondScoringCurrentPage++;
            rendersecondScoring();
        }
    });

    document.getElementById("secondScoringPrevPage").addEventListener("click", () => {
        if (secondScoringCurrentPage > 1) {
            secondScoringCurrentPage--;
            rendersecondScoring();
        }
    });

    // Event Listeners untuk Second Scoring
    document.getElementById("secondSmoothingEntriesPerPage").addEventListener("change", (e) => {
        secondSmoothingEntriesPerPage = parseInt(e.target.value);
        secondSmoothingCurrentPage = 1;
        rendersecondSmoothing();
    });

    document.getElementById("secondSmoothingNextPage").addEventListener("click", () => {
        const totalPages = Math.ceil(secondSmoothingCurrentData[0].length / secondSmoothingEntriesPerPage);
        if (secondSmoothingCurrentPage < totalPages) {
            secondSmoothingCurrentPage++;
            rendersecondSmoothing();
        }
    });

    document.getElementById("secondSmoothingPrevPage").addEventListener("click", () => {
        if (secondSmoothingCurrentPage > 1) {
            secondSmoothingCurrentPage--;
            rendersecondSmoothing();
        }
    });


    document.getElementById("startProcess").addEventListener("click", async () => {
        if (isProcessing) return;

        const loading = document.getElementById("loading");
        const button = document.getElementById("startProcess");

        try {
            isProcessing = true;
            button.disabled = true;
            loading.style.display = "block";

            const response = await fetch("/api/run_link_anomaly", {
                method: "POST",
                headers: { "Content-Type": "application/json" }
            });

            const data = await response.json();

            if (data.status === "success") {
                userCurrentData = data.data.probabilitas_user;
                mentionCurrentData = data.data.probabilitas_mention;
                skorAnomalyCurrentData = data.data.skor_anomaly;
                hasilAgregasiCurrentData = data.data.hasil_agregasi;
                firstLearnCurrentData = data.data.first_stage_learning;
                firstScoringCurrentData = data.data.first_stage_scoring;
                firstSmoothingCurrentData = data.data.first_stage_smoothing;
                secondLearnCurrentData = data.data.second_stage_learning;
                secondScoringCurrentData = data.data.second_stage_scoring;
                secondSmoothingCurrentData = data.data.second_stage_smoothing;

                userCurrentPage = 1;
                mentionCurrentPage = 1;
                skorAnomalyCurrentPage = 1;
                hasilAgregasiCurrentPage = 1;
                firstLearnCurrentPage = 1;
                firstScoringCurrentPage = 1;
                firstSmoothingCurrentPage = 1;
                secondLearnCurrentPage = 1;
                secondScoringCurrentPage = 1;
                secondSmoothingCurrentPage = 1;

                renderUserTable();
                renderMentionTable();
                renderSkorAnomalyTable();
                renderHasilAgregasiTable();
                renderFirstLearn();
                renderfirstScoring();
                renderFirstSmoothing();
                rendersecondLearn();
                rendersecondScoring();
                rendersecondSmoothing();

                document.getElementById("detectionResult").style.display = "block";
                if (data.data.anomaly_detection_results && data.data.anomaly_detection_results.length > 0) {
                    
                    const anomaly = data.data.anomaly_detection_results[0];

                    // Update status anomali
                    document.getElementById("anomalyStatus").textContent = anomaly.Alarm ? "Terdeteksi" : "Normal";

                    // Update info anomali dengan data diskrit dan waktu
                    document.getElementById("anomalyInfo").textContent = `Hasil dari deteksi anomali terdapat pada diskrit ${anomaly.Diskrit}, pada waktu ${anomaly.Waktu_Awal} - ${anomaly.Waktu_Akhir}`;

                    // Update score dan threshold
                    document.getElementById("anomalyScore").textContent = anomaly.Score.toFixed(4);
                    document.getElementById("anomalyThreshold").textContent = anomaly.Threshold.toFixed(4);

                    // Ubah warna alert berdasarkan status
                    const alertElement = document.querySelector('.alert');
                    alertElement.className = anomaly.Alarm ? 'alert alert-danger' : 'alert alert-success';
                }
            } else {
                throw new Error(data.message);
            }
        } catch (error) {
            console.error("Error:", error);
            alert("Terjadi kesalahan: " + error.message);
        } finally {
            loading.style.display = "none";
            button.disabled = false;
            isProcessing = false;
        }
    });

    function renderUserTable() {
        const startIndex = (userCurrentPage - 1) * userEntriesPerPage;
        const endIndex = startIndex + userEntriesPerPage;
        const pageData = userCurrentData.slice(startIndex, endIndex);

        const tbody = document.querySelector("#userTable tbody");
        tbody.innerHTML = pageData
            .map((values, index) => `
            <tr>
                <td>${startIndex + index + 1}</td>
                <td>${Array.isArray(values) ?
                    values.map(val => val.toFixed(8)).join('<br>') :
                    values.toFixed(8)}</td>
            </tr>
        `).join('');

        const totalPages = Math.ceil(userCurrentData.length / userEntriesPerPage);
        document.getElementById("userPageInfo").textContent = `Page ${userCurrentPage} of ${totalPages}`;
        document.getElementById("userPrevPage").disabled = userCurrentPage === 1;
        document.getElementById("userNextPage").disabled = userCurrentPage === totalPages;
    }

    function renderMentionTable() {
        const startIndex = (mentionCurrentPage - 1) * mentionEntriesPerPage;
        const endIndex = startIndex + mentionEntriesPerPage;
        const pageData = mentionCurrentData.slice(startIndex, endIndex);

        const tbody = document.querySelector("#mentionTable tbody");
        tbody.innerHTML = pageData
            .map((value, index) => `
            <tr>
                <td>${startIndex + index + 1}</td>
                <td>${value.toFixed(8)}</td>
            </tr>
        `).join('');

        const totalPages = Math.ceil(mentionCurrentData.length / mentionEntriesPerPage);
        document.getElementById("mentionPageInfo").textContent = `Page ${mentionCurrentPage} of ${totalPages}`;
        document.getElementById("mentionPrevPage").disabled = mentionCurrentPage === 1;
        document.getElementById("mentionNextPage").disabled = mentionCurrentPage === totalPages;
    }
    function renderSkorAnomalyTable() {
        const startIndex = (skorAnomalyCurrentPage - 1) * skorAnomalyEntriesPerPage;
        const endIndex = startIndex + skorAnomalyEntriesPerPage;
        const pageData = skorAnomalyCurrentData.slice(startIndex, endIndex);

        const tbody = document.querySelector("#skorAnomalyTable tbody");
        tbody.innerHTML = pageData
            .map((value, index) => `
            <tr>
                <td>${startIndex + index + 1}</td>
                <td>${typeof value === 'number' ? value.toFixed(8) : value}</td>
            </tr>
        `).join('');

        const totalPages = Math.ceil(skorAnomalyCurrentData.length / skorAnomalyEntriesPerPage);
        document.getElementById("skorAnomalyPageInfo").textContent = `Page ${skorAnomalyCurrentPage} of ${totalPages}`;
        document.getElementById("skorAnomalyPrevPage").disabled = skorAnomalyCurrentPage === 1;
        document.getElementById("skorAnomalyNextPage").disabled = skorAnomalyCurrentPage === totalPages;
    }

    function renderHasilAgregasiTable() {
        const startIndex = (hasilAgregasiCurrentPage - 1) * hasilAgregasiEntriesPerPage;
        const endIndex = startIndex + hasilAgregasiEntriesPerPage;
        const pageData = hasilAgregasiCurrentData.slice(startIndex, endIndex);

        const tbody = document.querySelector("#hasilAgregasiTable tbody");
        tbody.innerHTML = pageData
            .map((row, index) => `
            <tr>
                <td>${row.diskrit}</td>
                <td>${row.jumlah_mention_agregasi}</td>
                <td>${row.s_x.toFixed(8)}</td>
                <td>${row.waktu_awal}</td>
                <td>${row.waktu_akhir}</td>
            </tr>
        `).join('');

        const totalPages = Math.ceil(hasilAgregasiCurrentData.length / hasilAgregasiEntriesPerPage);
        document.getElementById("hasilAgregasiPageInfo").textContent = `Page ${hasilAgregasiCurrentPage} of ${totalPages}`;

        document.getElementById("hasilAgregasiPrevPage").disabled = hasilAgregasiCurrentPage === 1;
        document.getElementById("hasilAgregasiNextPage").disabled = hasilAgregasiCurrentPage === totalPages;
    }

    function renderFirstLearn() {
        if (!firstLearnCurrentData || !firstLearnCurrentData[0] || !Array.isArray(firstLearnCurrentData[0])) {
            console.error('Data tidak valid untuk First Learn table');
            return;
        }

        const startIndex = (firstLearnCurrentPage - 1) * firstLearnEntriesPerPage;
        const endIndex = startIndex + firstLearnEntriesPerPage;

        const data = firstLearnCurrentData[0];
        const pageData = data.slice(startIndex, endIndex);

        const tbody = document.querySelector("#firstLearnTable tbody");
        tbody.innerHTML = pageData.map((value, index) => `
        <tr>
            <td>${startIndex + index + 1}</td>
            <td>${parseFloat(value).toFixed(8)}</td>
        </tr>
    `).join('');

        const totalPages = Math.ceil(data.length / firstLearnEntriesPerPage);
        document.getElementById("firstLearnPageInfo").textContent = `Page ${firstLearnCurrentPage} of ${totalPages}`;
        document.getElementById("firstLearnPrevPage").disabled = firstLearnCurrentPage === 1;
        document.getElementById("firstLearnNextPage").disabled = firstLearnCurrentPage === totalPages;
    }

    function renderfirstScoring() {
        if (!firstScoringCurrentData || !firstScoringCurrentData[0] || !Array.isArray(firstScoringCurrentData[0])) {
            console.error('Data tidak valid untuk First Learn table');
            return;
        }

        const startIndex = (firstScoringCurrentPage - 1) * firstScoringEntriesPerPage;
        const endIndex = startIndex + firstScoringEntriesPerPage;

        const data = firstScoringCurrentData[0];
        const pageData = data.slice(startIndex, endIndex);

        const tbody = document.querySelector("#firstScoringTable tbody");
        tbody.innerHTML = pageData.map((value, index) => `
        <tr>
            <td>${startIndex + index + 1}</td>
            <td>${parseFloat(value).toFixed(8)}</td>
        </tr>
    `).join('');

        const totalPages = Math.ceil(data.length / firstScoringEntriesPerPage);
        document.getElementById("firstScoringPageInfo").textContent = `Page ${firstScoringCurrentPage} of ${totalPages}`;
        document.getElementById("firstScoringPrevPage").disabled = firstScoringCurrentPage === 1;
        document.getElementById("firstScoringNextPage").disabled = firstScoringCurrentPage === totalPages;
    }

    function renderFirstSmoothing() {
        const startIndex = (firstSmoothingCurrentPage - 1) * firstSmoothingEntriesPerPage;
        const endIndex = startIndex + firstSmoothingEntriesPerPage;
        const pageData = firstSmoothingCurrentData.slice(startIndex, endIndex);

        const tbody = document.querySelector("#firstSmoothingTable tbody");
        tbody.innerHTML = pageData
            .map((value, index) => `
            <tr>
                <td>${startIndex + index + 1}</td>
                <td>${value.toFixed(8)}</td>
            </tr>
        `).join('');

        const totalPages = Math.ceil(firstSmoothingCurrentData.length / firstSmoothingEntriesPerPage);
        document.getElementById("firstSmoothingPageInfo").textContent = `Page ${firstSmoothingCurrentPage} of ${totalPages}`;
        document.getElementById("firstSmoothingPrevPage").disabled = firstSmoothingCurrentPage === 1;
        document.getElementById("firstSmoothingNextPage").disabled = firstSmoothingCurrentPage === totalPages;
    }

    function rendersecondLearn() {
        if (!secondLearnCurrentData || !secondLearnCurrentData[0] || !Array.isArray(secondLearnCurrentData[0])) {
            console.error('Data tidak valid untuk First Learn table');
            return;
        }

        const startIndex = (secondLearnCurrentPage - 1) * secondLearnEntriesPerPage;
        const endIndex = startIndex + secondLearnEntriesPerPage;

        const data = secondLearnCurrentData[0];
        const pageData = data.slice(startIndex, endIndex);

        const tbody = document.querySelector("#secondLearnTable tbody");
        tbody.innerHTML = pageData.map((value, index) => `
        <tr>
            <td>${startIndex + index + 1}</td>
            <td>${parseFloat(value).toFixed(8)}</td>
        </tr>
    `).join('');

        const totalPages = Math.ceil(data.length / secondLearnEntriesPerPage);
        document.getElementById("secondLearnPageInfo").textContent = `Page ${secondLearnCurrentPage} of ${totalPages}`;
        document.getElementById("secondLearnPrevPage").disabled = secondLearnCurrentPage === 1;
        document.getElementById("secondLearnNextPage").disabled = secondLearnCurrentPage === totalPages;
    }

    function rendersecondScoring() {
        if (!secondScoringCurrentData || !secondScoringCurrentData[0] || !Array.isArray(secondScoringCurrentData[0])) {
            console.error('Data tidak valid untuk First Learn table');
            return;
        }

        const startIndex = (secondScoringCurrentPage - 1) * secondScoringEntriesPerPage;
        const endIndex = startIndex + secondScoringEntriesPerPage;

        const data = secondScoringCurrentData[0];
        const pageData = data.slice(startIndex, endIndex);

        const tbody = document.querySelector("#secondScoringTable tbody");
        tbody.innerHTML = pageData.map((value, index) => `
        <tr>
            <td>${startIndex + index + 1}</td>
            <td>${parseFloat(value).toFixed(8)}</td>
        </tr>
    `).join('');

        const totalPages = Math.ceil(data.length / secondScoringEntriesPerPage);
        document.getElementById("secondScoringPageInfo").textContent = `Page ${secondScoringCurrentPage} of ${totalPages}`;
        document.getElementById("secondScoringPrevPage").disabled = secondScoringCurrentPage === 1;
        document.getElementById("secondScoringNextPage").disabled = secondScoringCurrentPage === totalPages;
    }
    function rendersecondSmoothing() {
        if (!secondSmoothingCurrentData || !Array.isArray(secondSmoothingCurrentData)) {
            console.error('Data tidak valid untuk Second Smoothing table');
            return;
        }

        const startIndex = (secondSmoothingCurrentPage - 1) * secondSmoothingEntriesPerPage;
        const endIndex = startIndex + secondSmoothingEntriesPerPage;
        const pageData = secondSmoothingCurrentData.slice(startIndex, endIndex);

        const tbody = document.querySelector("#secondSmoothingTable tbody");
        tbody.innerHTML = pageData.map((value, index) => `
        <tr>
            <td>${startIndex + index + 1}</td>
            <td>${parseFloat(value).toFixed(8)}</td>
        </tr>
    `).join('');

        const totalPages = Math.ceil(secondSmoothingCurrentData.length / secondSmoothingEntriesPerPage);
        document.getElementById("secondSmoothingPageInfo").textContent = `Page ${secondSmoothingCurrentPage} of ${totalPages}`;
        document.getElementById("secondSmoothingPrevPage").disabled = secondSmoothingCurrentPage === 1;
        document.getElementById("secondSmoothingNextPage").disabled = secondSmoothingCurrentPage === totalPages;
    }
</script>
{% endblock %}