{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Prepcrocessing Data</h1>
    </div>
    <div class="card shadow mb-4" id="hasilCard">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Data Hasil Prepcrocessing</h6>
        </div>

        <div class="card-body">
            <button class="btn btn-primary mb-3" id="startPreprocessing">Mulai Preprocessing</button>
            <button class="btn btn-danger mb-3" id="startDeletion">Hapus Data</button>

            <div class="modal fade" id="preprocessingModal" tabindex="-1" role="dialog"
                aria-labelledby="preprocessingModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="preprocessingModalLabel">Proses Preprocessing</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Konfirmasi Penghapusan</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Apakah Anda yakin ingin menghapus semua data preprocessing?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                            <button type="button" class="btn btn-danger" id="confirmDelete">Hapus</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dataStats" class="mb-3">
                <p>Total Data: <span id="totalData">0</span></p>
            </div>
            <div>
                <table class="table table-hover" id="dataTable" style="table-layout: fixed; color: black;">
                    <thead>
                        <tr>
                            <th style="width: 7%;">id</th>
                            <th style="width: 15%;">time</th>
                            <th style="width: 15%;">username</th>
                            <th>tweet</th>
                            <th style="width: 10%;">jumlah mention</th>
                            <th style="width: 20%;">id user mentioned</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>



{% endblock %}